
@{
    ViewBag.Title = "HighChart";
}
<h3>@ViewBag.Message</h3>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
    <ol class="carousel-indicators" style="bottom:-20px;">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div style="background-color:red;" class="row">
                <div id="container" style="height:400px;" class="col-md-6"></div>
                <div id="container3" style="height:400px;" class="col-md-6"></div>
            </div>
        </div>
        <div class="carousel-item">
            <div id="container1" style="height:400px"></div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="width:auto;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



@*<div class="tabBar">

        <div class="hd">
            <ul>
                <li class="on">第<span>1</span>步 魔方网站</li>
                <li>第<span>2</span>步 雨滴</li>
            </ul>
        </div>

        <div class="bd">
            <div class="conWrap">
                <div class="con">
                    <div id="container" style="height:400px"></div>
                </div>
                <div class="con">
                    <div id="container1" style="height:400px"></div>
                </div>
            </div>
            <a class="prev prevStop" href="javascript:void(0)">
                <img src="~/Img/lj.gif" />
            </a>
            <a class="next" href="javascript:void(0)">
                <img src="~/Img/rj.gif" />
            </a>
        </div>
    </div>
    <link href="~/Content/highchart_view.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/SuperSlide/jquery.SuperSlide.js"></script>*@
<script src="~/Scripts/Highcharts/highcharts.js"></script>
<script src="~/Scripts/Highcharts/highcharts-zh_CN.js"></script>
<script src="~/Scripts/Highcharts/themes/dark-unica.js"></script>
<script src="~/wwwroot/Views/Home/HighChart_Test.js"></script>
